.footer {
  display: flex;
}
.imageContainer {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.image {
  object-fit: cover; /* Options: 'contain', 'cover', 'fill' */
}
.container {
  background-color: #c1d8c3;
  padding: 2em;
  border-radius: 5px;
  width: 20%;
  margin: 2em;
}
